In [1]:
import pandas as pd
from varclushi import VarClusHi

In [2]:
demo1_df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv', sep=';')
demo1_df.drop('quality',axis=1,inplace=True)
demo1_vc = VarClusHi(demo1_df)
demo1_vc.varclus()

In [3]:
demo1_vc.info

  Cluster N_Vars   Eigval1   Eigval2   VarProp
0       0      3  2.141357  0.658413  0.713786
1       1      3  1.766885  0.900991  0.588962
2       2      2  1.371260  0.628740  0.685630
3       3      2  1.552496  0.447504  0.776248
4       4      1  1.000000  0.000000  1.000000

In [4]:
demo1_vc.rsquare

   Cluster              Variable    RS_Own     RS_NC  RS_Ratio
0        0         fixed acidity  0.882210  0.277256  0.162976
1        0               density  0.622070  0.246194  0.501362
2        0                    pH  0.637076  0.194359  0.450478
3        1   free sulfur dioxide  0.777796  0.010358  0.224530
4        1  total sulfur dioxide  0.786660  0.042294  0.222761
5        1        residual sugar  0.202428  0.045424  0.835525
6        2             sulphates  0.685630  0.106022  0.351653
7        2             chlorides  0.685630  0.048903  0.330534
8        3           citric acid  0.776248  0.398208  0.371810
9        3      volatile acidity  0.776248  0.040920  0.233299
10       4               alcohol  1.000000  0.082055  0.000000

In [5]:
demo2_df = pd.read_excel('jobrate.xlsx')
demo2_df.drop('Overall_Rating',axis=1,inplace=True)
demo2_vc = VarClusHi(demo2_df,maxeigval2=0,maxclus=3)
demo2_vc.varclus()

In [6]:
demo2_vc.info

  Cluster N_Vars   Eigval1   Eigval2   VarProp
0       0      8  4.663086  0.715184  0.582886
1       1      4  3.039960  0.456049  0.759990
2       2      1  1.000000  0.000000  1.000000

In [7]:
demo2_vc.rsquare

   Cluster                          Variable    RS_Own     RS_NC  RS_Ratio
0        0              Communication_Skills  0.633771  0.326972  0.544151
1        0                   Problem_Solving  0.507940  0.273017  0.676852
2        0                  Learning_Ability  0.612599  0.126570  0.443540
3        0              Observational_Skills  0.657120  0.182641  0.419498
4        0  Willingness_to_Confront_Problems  0.620156  0.237397  0.498089
5        0       Desire_for_Self_Improvement  0.604388  0.296961  0.562717
6        0                        Appearance  0.441876  0.145928  0.653485
7        0                     Dependability  0.585235  0.453685  0.759205
8        1          Judgement_under_Pressure  0.640120  0.367677  0.569139
9        1                Interest_in_People  0.838905  0.233862  0.210268
10       1         Interpersonal_Sensitivity  0.804705  0.178482  0.237724
11       1                         Integrity  0.756230  0.338525  0.368525
12       2                  Physical_Ability  1.000000  0.222030  0.000000